
.title{
  /* float: left; 
  margin-left: 350px; */
}

.list {
  float: right;
  margin-bottom: -50px;
}

.tab {
  width: 175px;
  color: white;
}
 .tab:hover {
  background-color: white;
  color: black;
 }
 
.logoCell{
  text-align: center;
}

.titleCell{
  text-align: center;
}


.topBar{
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #d3d3d3;
  background-color: black;
}

.logo{
  /* margin-left: 50px; */
  font-family: "Montserrat", "Courier New", monospace;
}

body{
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto;
}