.title{
    padding-left: 50px;
    /* font-weight: normal; */
}

.picture{
    padding-left: 150px;
    padding-right: 50px;
    padding-top: 30px;
    float:left;
}

.details{
    float: right;
    width: 800px;
    padding-top: 60px;
    margin-right: 550px;
}

.experience{
    padding-left: 150px;
    width: 1500px;
    padding-top: 400px;
    padding-bottom: 50px;
}

.homeBackground {
    background-color: #FAFAFA;
}