

.picture{
    /* border: 1px solid black; */
}

.details{
    float: right;
    width: 800px;
    padding-top: 60px;
    margin-right: 550px;
}

.homeBackground {
    /* background-color: #edf6f7; */
    padding-top: 100px;
    padding-bottom: 100px;
}

tr.spaceUnder>td {
    padding-bottom: 50px;
}

.cellBorder{
    border-right: 1px solid grey;
}

.timelineCell{
    padding-left: 50px;
}